

/* hero banner----------------------- */

.container-header{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.container-header video{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
}
.container-header img{
    width: 20%;
}
.container-header h1{
    font-size: clamp(20px, 4vw, 70px);
    color: #fff;
    font-weight: 700;
    letter-spacing: 5px;
    text-align: center;
    font-family: 'Lobster', cursive;
}
.container-header button{
    width: 20%;
    height: 8%;
    border-radius: 9999px;
    border: 2px solid #000;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 0;
    color: #000;
    border: none;
    font-weight: 500;
    font-size: clamp(16px,2vw,28px);
    margin-top: 55px;
    position: relative;
    transition: color 0.1s, background 0.1s;
}
.container-header button:hover{
    top: 2px;
    background: #000;
    color: #fff;
}
.container-header button:active{
    top: 5px;
    background: #000;
    color: #fff;
}

/* tendances -------------------------------------------- */
.products{
    width: 80%;
    height: auto;
    margin: 25px auto;
}
.title{
    font-size: clamp(15px, 2vw, 30px);
    text-transform: uppercase;
    color: #000;
    margin-bottom: 32px;
}
.title::after{
    content: "";
    display: block;
    width: 8%;
    height: 4px;
    background: #000;
    border-radius: 9999px;
}
.container-cards{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.card{
    flex-basis: 100%;
    height: 450px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.card img{
    width: 100%;
    height: 60%;
    object-fit: cover;;
}
.card h4{
    padding: 10px 20px 0;
    font-size: clamp(16px,2vw,25px);
    font-weight: 700;
    color: #000;
}
.card p{
    padding: 5px 20px 0;
    font-size: clamp(16px,2vw,20px);
    color: #787878;
}
.card button{
    width: 60%;
    height: 10%;
    border-radius: 9999px;
    border: 2px solid #000;
    text-align: center;
    line-height: 0;
    color: #000;
    font-weight: 700;
    font-size: clamp(16px,2vw,20px);
    margin: auto auto 25px;
    position: relative;
    transition: color 0.1s, background 0.1s;
}
.card button:hover{
    top: 2px;
    background: #000;
    color: #fff;
}
.card button:active{
    top: 5px;
    background: #000;
    color: #fff;
}

/* Sélection du jour -------------------------------------------------------------- */
.offres{
    width: 80%;
    height: auto;
    margin: 100px auto;
}
.container-offres{
    width: 100%;
    height: auto;
    display: grid;
    gap: 15px;
    grid-template-rows: repeat(3,250px);
    grid-template-columns: repeat(2,1fr);
}
.cardS{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap:5px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.5);
    border-radius: 15px;
    overflow: hidden;
}
.cardS.one{
    flex-direction: row;
    grid-column: 1/2;
    grid-row: 1/2;
}
.cardS.one .img{
    width: 150%;
    height: 101%;
    border-radius: 20px 0 0 20px;
}
.cardS.two{
    grid-column: 1/2;
    grid-row: 2/4;
}
.cardS.three{
    grid-column: 2/3;
    grid-row: 1/3;
}
.cardS.four{
    grid-column: 2/3;
    grid-row: 3/4;
    background: #4ECB71;
}
.cardS.four img{
    margin: auto;
    width: 50%;
    height: 50%;
    object-fit: contain;
}
.cardS .img{
    border-radius: 20px 20px 0 0;
    width: 102%;
    height: 70%;
    overflow: hidden;
}
.cardS .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 0.8s;
}
.cardS .img img:hover{
    transform: scale(1.1);
}
.cardS h3{
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 10px 0 0 10px;
    font-size: clamp(16px,2vw,30px);
    font-weight: 700;
    color: #000;
}
.cardS p{
    margin-left: 10px;
    font-size: clamp(10px,2vw,20px);
    font-weight: 500;
    color: #565656;
}
.cardS .flex p{
    margin-top: 20px ;
}
/* about--------------------------------------------------------------------------- */

.about{
    width: 80%;
    height: auto;
    margin: 100px auto;
}
.about .title::after{
    width: 15%;
}
.about p{
    font-size: clamp(10px,2vw,30px);
    font-weight: 300;
    color: #000;
    padding: 25px;
}

/*  contact ----------------------------------------------------------------------------- */
.contact{
    width: 80%;
    height: auto;
    margin: 100px auto;
}
.container-contact{
    width: 100%;
    height: 500px;
    position: relative;
}
.carte{
   position: absolute;
   top:0px;
   right: 10%;
   width: 50%;
   height:100%;
   background: url(../ressources/img/map.png);
   background-size: cover;
   background-position: center;
   border-radius: 10px;
   z-index: 10;
}
.contact-card{
   position: absolute;
   top: 10%;
   left: 20%;
   width: 30%;
   height:70%;
   background-color: #000;
   border-radius: 10px;
   z-index: 20;
   display: flex;
   flex-direction: column;
   color: #fff;

}
.contact-card h5{
    margin: 25px 20px;
    font-size: clamp(10px,2vw,23px);
    letter-spacing: 2px;
    color: #fff;
}
.contact-card p{
    margin: 0 20px;
    font-size: clamp(10px,2vw,20px);
    letter-spacing: 2px;
    color: #cacaca;
}
.logos-reseaux{
    z-index: 2;
    margin: 0px 20px;
    width: 120px;
    height: 50px;

}
.logo-reseaux{
    display: inline-block;
    z-index: 2;
    width: 45%;
    height: 100%;
}
.logo-reseaux img{
    width: 100%;
    object-fit: cover;
}
.border{
    position: absolute;
    top: 15%;
    left: 18%;
    width: 40%;
    height:70%;
    border: 10px solid #4ECB71;
    border-radius: 10px;
    z-index: 0;
}

/* numérotation des pages ----------------------------------------------- */
.numero-pages{
    width: 5%;
    height: auto;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.numero-pages p{
    font-size: clamp(15px,1.5vw,35px);
    cursor: pointer;
    color: #737373;
    padding: 10px;
    transition: 0.1s ease-in-out;
}
.numero-pages p:hover{
    color: #000;
    font-weight: 700;
    background: #4ECB71;
    border-radius: 5px;
}







